.logo1{
    background-color: rgb(255, 252, 252) ;
    border-radius: 50% ;
}

.form-registration {
    max-width: 330px;
    padding: 15px;
}

.form-registration input {
    border-radius: 0;
    margin-bottom: -1px;
}

.padding-top {
    padding-top: 45px;
    padding-bottom: 15px;
}

.padding-top1 {
    padding-top: 75px;
    padding-bottom: 15px;
}
.padding-top2 {
    padding-top: 55px;
    padding-bottom: 15px;
}

.p-left {
    padding-left: 35px;
}

.border-top {
    border-top: 5px;
}

.border-bot {
    border-bottom: 5px;
}
.bg-color1{
    background-color: #5479f7 !important;
}

.font1 {
    font-family: "Quicksand", sans-serif;
}

nav li{
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}
nav{
    background-color: #00a2c6;
    padding: 5px;
    position: sticky;
    top: 0;
}
nav a{
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
}

.topg {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.topg .textbox{
    position: relative;
    max-width: 650px;
}
.topg .textbox h1{
    color: #4c59e9;
    font-size: 5em;
    font-family: 'Segoe UI', Tahoma;
    font-weight: bold;   
    text-align: justify;
 

}
.topg .textbox h2{
    color: #000000;
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma;
    text-align: justify;



}
.topg .textbox h2 span{
    color: #000000;
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma;
    font-weight: bold;    
    text-align: justify;

}
.topg .textbox p{
    color: #000000;
    font-family: 'Segoe UI', Tahoma;
    text-align: justify;


}

.logo2 {
    border-radius: 35%;
}